/* 	================= 
		CHAPTER1.2.CSS
	================= */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

/** {
	background-color: rgba(0,0,0,0.3);
}*/

body {
}

.container {
	width: 100%;
	height: 100%;
}

.web {
	display: block;
}

.mobile {
	display: none;
}

/* 	=============================
		TEXT STYLING
	============================= */

.ch-heading {
	margin-top: 40px;
	font-family: 'PT Serif Caption', serif;
	font-size: 45px;
	line-height: 58px;
	color: blue;
}

.ch-authors {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	color: blue;
}

.ch-manifest {
	margin-bottom: 10px;
	font-family: 'PT Sans', sans-serif;
	text-align: justify;
	font-size: 28px;
	line-height: 37px;
	color: #ffcaca;
}

.ch-interview {
	width: 65%;
	margin-bottom: 10px;
	margin-left: 5%;
	font-family: 'PT Serif Caption', serif;
	text-align: left;
	font-size: 16px;
	line-height: 23px;
}

.interview1 {
	font-style: italic;
}

.ch-pull {
	float: right;
	width: 56%;
	padding: 2%;
	margin-right: 5%;
	padding-bottom: 15px;
	font-family: 'PT Serif Caption', serif;
	font-size: 34px;
	text-align: center;
	line-height: 46px;
	color: #ffcaca;

	border: 1px solid #ffcaca;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.ch-a-descriptions {
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 20px;
	font-family: 'PT Sans', sans-serif;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: blue;
}

#bio {
		font-size: 12px;
		line-height: 20px;
}


/* 	=============================
		IMG
	============================= */

.img-half {
	float: right;
	width: 60%;
	margin-right: 5%;
	margin-bottom: 40px;
}

iframe {
	float: right;
	width: 60%;
	margin-right: 5%;
	margin-bottom: 40px;
}

/* 	=============================
		HEADERS
	============================= */


.link-back {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 60px;
	background-color: rgba(0,0,0,0);
	z-index: 200;
}

.link-forward {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width:60px;
	background-color: rgba(0,0,0,0);
	z-index: 200;
	display: block;
}

.link-space {
	color: rgba(0,0,0,0);
}

/* 	=============================
		CONTAINER
	============================= */

.title-container {
	margin-top: 100px;
}

.content-container {

}

.title-container,
.content-container {
	/* Box-model */
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 50px;
	/* Typography */
	/* Visual */
	border: 1px solid #ffcaca;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	/* Misc */
}

.no-border {
	border: none;
}

.line-bottom {
	padding-bottom: 40px;
	border-radius: 0px;
	border-bottom: 1px solid #ffcaca;
}

#no-bottom {
	border-bottom: none;
	padding-bottom: 0;
}

/*  =======================
    MEDIA QUERIES
    ======================= */

@media (max-width: 1000px) { 

	/*text styling*/
	.ch-heading {
		margin-top: 40px;
		font-size: 40px;
		line-height: 53px;
	}

	.ch-authors {
		margin-top: 30px;
		font-size: 20px;
	}

	.ch-pull {
		font-size: 30px;
		line-height: 42px;
	}
}

@media (max-width: 900px) { 

	/*text styling*/
	.ch-heading {
		font-size: 38px;
		line-height: 51px;
	}

	.web {
		display: none;
	}

	.mobile {
		display: block;
	}
}

@media (max-width: 750px) { 

	/*text styling*/
	.ch-heading {
		margin-top: 0;
		font-size: 28px;
		line-height: 41px;
	}

	.ch-authors {
		margin-top: 30px;
		font-size: 16px;
	}

	.ch-manifest {
		font-family: 'PT Sans', sans-serif;
		text-align: justify;
		font-size: 23px;
		line-height: 32px;
	}

	.ch-pull {
		font-size: 24px;
		line-height: 36px;
	}
}

@media (max-width: 650px) { 

	/*text styling*/
	.ch-heading {
		margin-top: -20px;
		font-size: 28px;
		line-height: 41px;
	}

	.ch-authors {
		margin-top: 30px;
		font-size: 16px;
	}

	.content-container {
		border: none;
	}

	.ch-manifest {
		padding-bottom: 70px;
		font-size: 23px;
		line-height: 32px;
		border-radius: 0;
		border-bottom: 1px solid #ffcaca;
	}

	.ch-interview {
		width: 90%;
		margin-left: 0;
		margin-bottom: 10px;
		font-family: 'PT Serif Caption', serif;
		text-align: left;
		font-size: 16px;
		line-height: 23px;
	}

	.interview1 {
		font-style: italic;
	}

	.ch-pull {
		float: left;
		width: 90%;
		padding: 2%;
		margin-left: 3%;
		margin-right: 0%;
		padding-bottom: 0;

		border: none;
		border-radius: 0;
	}

	#bio {
			font-size: 12px;
			line-height: 20px;
	}

	/* IMG */

	.img-half {
		float: left;
		width: 90%;
		margin-left: 5%;
		margin-bottom: 40px;
	}

	iframe {
		float: left;
		width: 90%;
		margin-left: 5%;
		margin-bottom: 40px;
	}

	.line-bottom {
		padding-bottom: 40px;
		border-radius: 0px;
		border-bottom: 1px solid #ffcaca;
	}

}

@media (max-width: 550px) { 

	/*text styling*/
	.ch-heading {
		margin-top: -20px;
		font-size: 24px;
		line-height: 37px;
	}

	.content-container {
		border: none;
	}

	.ch-manifest {
		padding-bottom: 70px;
		font-size: 20px;
		line-height: 29px;
		border-radius: 0;
		border-bottom: 1px solid #ffcaca;
	}

	.ch-pull {
		float: left;
		width: 90%;
		padding: 2%;
		margin-left: 3%;
		margin-right: 0%;
		padding-bottom: 0;

		font-size: 22px;
		line-height: 30px;

		border: none;
		border-radius: 0;
	}

	#bio {
			font-size: 12px;
			line-height: 20px;
	}

	/* IMG */

	.img-half {
		float: left;
		width: 90%;
		margin-left: 5%;
		margin-bottom: 40px;
	}

	iframe {
		float: left;
		width: 90%;
		margin-left: 5%;
		margin-bottom: 40px;
	}

	.line-bottom {
		padding-bottom: 40px;
		border-radius: 0px;
		border-bottom: 1px solid #ffcaca;
	}

}